@model ExperimentApp.Models.Participant
@Scripts.Render("~/Scripts/app.js")
@Scripts.Render("~/Scripts/upload.php")
@{
    ViewBag.Title = "Audio";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragma" content="no-cache" charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body dir="rtl" lang="he" style="font-size:large">
    <h1>ספר לנו על החוויה שלך!</h1>
    <p>בחר 3 מילים הנותנות ביטוי בצורה כלשהי לרגשות שצפו בך במהלך הצפייה בסרטון (ניתן להיעזר במילים המופיעות מטה). </p>
    <p>לתחילת ההקלטה הקש "Record" ולסיום הקש "Stop".</p>
    <br />
    <div>
        <center>
            <img width="1200" , src="~/Content/images/emotion_words.png">
        </center>
    </div>
    <br />
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled style="display:none">Pause</button>
        <button id="stopButton" disabled>Stop</button>
        <h1 id="participantId" style="display:none">@Model.ID</h1>

    </div>
    <div id="formats" disabled style="display:none">Format: start recording to see sample rate</div>
    <h3 style="display:none" id="recordings">הקלטות:</h3>
    <ol id="recordingsList"></ol>


    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="~/Scripts/Recorder.js"></script>
    <script src="~/Scripts/app.js"></script>

</body>
</html>
<script type="text/javascript">
    function myFunc() {
        window.location.href = '@Url.Action("UltimatumGame", new { id = Model.ID })';
    }
</script>
