
@{
    ViewBag.Title = "Finish";
}

<div dir="rtl" lang="he">
    <h2>סיימתם :)</h2>
    <p style="font-size:larger">אנא קראו לנסיין</p>
</div>

<div dir="rtl" lang="he" style="font-size:large">
    <br/>
    <p>@Html.ActionLink("חזרה לדף הבית", "Index", "Home")</p>
</div>



