@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EPIC</h1>
    <p class="lead">Welcome to the EPIC experiment</p>
    <p>@Html.ActionLink("Start Experiment", "Create", "Participant")</p>
</div>
