@model ExperimentApp.Models.Participant

@{
    ViewBag.Title = "Start";
}

<div>
    <p></p>
    <h2 class="lead">--Explanation--</h2>
    <p></p>
    <p>@Html.ActionLink("play the ulti Game", "TrustGame", "Home",new { id = Model.ID}, null)</p>
</div>

