@model ExperimentApp.Models.Participant

@{
    ViewBag.Title = "Start";
}

<div>
    <br/>
    <div style="font-size:large" dir="rtl" lang="he">
        <p>ברוכים הבאים!</p>
        <p>תודה שבאתם להשתתף בניסוי.</p>
        <p>אתם מוזמנים בכל שלב לפנות למפעיל הניסוי אם משהו לא ברור לכם.</p>
        <p>*ההוראות מנוסחות לעיתים בלשון זכר ולעיתים בלשון נקבה, אך מיועדים לבני שני המינים*</p>
        <br />
        <p>הניסוי בו אתם עומדים להשתתף מורכב ממספר שלבים:</p>
        <p>ראשית תצפו בסרטון, שלאחריו תתבקשו למלא שאלון קצר ולשתף במשפט אחד או שניים בתחושות שצפו במהלך הצפייה. </p>
        <p>בשלב הבא תשתתפו בשני משחקים מהירים, מול שחקן נוסף המבצע את הניסוי במקום אחר (אונליין).</p>
        <p>בהצלחה!</p>
    </div>
    <br />
    <p style="font-size:large" dir="rtl" lang="he">
        מוכנים להתחיל?
        <input type="button" id="playVideo" dir="rtl" lang="he" value="המשך לסרטון" onclick="show()">
    </p>
</div>

<div id="myGif" style="display:none">
    <center>
        <img height="300" ; src="~/Content/Gifs/loading.gif">
    </center>
</div>

<script type="text/javascript">
    //loading
    function show() {
        document.getElementById("playVideo").disabled = true;
        document.getElementById("myGif").style.display = "block";
        window.location.href = '@Url.Action("Video", "Home", new { id = Model.ID }, null)';
        //GetTransactionBuyingRate();
    }

    @*function GetTransactionBuyingRate() {
        return $.ajax({
                    url: '@Url.Action("FormJquery", "Home", new { id = Model.ID })',
                    dataType: "json",
                    type: "POST",
                    success: function (result) {
                        if (result.returnvalue == true) {
                            alert("true");
                            playVideo();
                        } else {
                            alert("false");
                            window.location.href = '@Url.Action("Error", "Home")';
                        }
                    }
                });
    }

    //video
    function isFullScreenAvailable() {
        return (
            document.fullscreenEnabled ||
            document.webkitFullscreenEnabled ||
            document.mozFullScreenEnabled ||
            document.msFullscreenEnabled
        );
    }
    function requestFullScreen(elementToRequest) {
        if (elementToRequest.requestFullScreen) {
            elementToRequest.requestFullScreen();
        }
        else if (elementToRequest.webkitRequestFullscreen) {
            elementToRequest.webkitRequestFullscreen();
        }
        else if (elementToRequest.mozRequestFullScreen) {
            elementToRequest.mozRequestFullScreen();
        }
        else if (elementToRequest.msRequestFullscreen) {
            elementToRequest.msRequestFullscreen();
        }
    }

    var videoElement = document.getElementById('videoPlayer');
    function makeVideoFullScreen() {
        if (isFullScreenAvailable) {
            requestFullScreen(videoElement);
            return;
        }
        alert("Sorry full screen is not available in this browser");
    }
    function playVideo() {
        document.getElementById("myGif").style.display = "none";
        document.getElementById("videoPlayer").style.display = "block";
        makeVideoFullScreen()
        videoElement.play();
        return;
    }
    videoElement.addEventListener('ended', myHandler, false);
    function myHandler(e) {
        window.location.href = '@Url.Action("EndVideoRecording")';
    }*@  
</script>


